.Parameters {
  background: white;
  position: absolute;
  z-index: 5;
  padding:2em;
  width: 50%;
  top: 25%;
  left: 25%;
  margin: 0 auto;
  text-align: center;
}

.Parameters .Online {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
