@import "./organisms/menuTop";
@import "./organisms/menuLeft";
@import "./organisms/menuRight";
@import "./molecules/arrows";
@import "./molecules/toolbar";

$primaryColor: #333;

@mixin primaryColor($primaryColor) {
  color: $primaryColor;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.HiddenApp {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0,0, 0.5);
  z-index: 5;
  cursor: pointer;
}

.Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
